@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    background-color: #c8ece1;
    font-family: 'Roboto', sans-serif;
    color: #35b18c;
    display: grid;
    grid-template-areas: 
                        "top"
                        "bot"
    ;
    margin: 20px;
    
}
button {
       background-color: #eef5f3;
       border: none; 
       border-radius: 15px;
}
.top {
    grid-area: top;
    display: grid;
    grid-template-columns: 80% 20%;
    height: 40px;
    
}

.top button span {
    position: relative;
    bottom: 7.5px;
}

.pass svg {
    position: relative;
    left: 45px;
}

.bot { 
    grid-area: bot;
}

.pass {
    flex-shrink: 4;
    height: 40px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #35b18c;
    padding: 5px;
    transition: 300ms;
}

.pass:hover{
  color: #eef5f3;
  background-color: #45d1b3;
  transition: 300ms;
}

.pass:active{
  background-color: #45d1b3;
  color: #c8ece1;
  transition: 100ms;
}

.shuffle {
    flex-shrink: 1;
    margin-top: 0px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    justify-items: center;
    align-items: center;
    padding: 8px;
}




.svg_copy {
    justify-self: end;
    position: relative;
    width: 32px;
    height: 32px;
}


.bot {
    display: grid;
    grid-template-areas: 
                        "chek_box len_dlina"
                       
    ;
}

.top_cb {
  margin: 3px;
  margin-top: 0px;
}

.chek_box {
    grid-area: chek_box;
    padding: 0px;
    top: 20px
}
.len_dlina {
    grid-area: len_dlina;
}

.chek_box {
    margin: 0px 0px 10px 0px;
    width: 100%;
    padding: 0px 0px 5px 0px;
    position: relative;
    
}

.cb {
    display: inline;
    
    

}

.cb p {
    width: 115px;
    margin: 0px;
    position: relative;
    bottom: 25px;
    left: 30px;
    padding: 5px;
    border: #eef5f3 solid 1px;
    background-color: #eef5f3;
    border-radius: 10px;
}

.container {
	display: flex;
	justify-content: top;
	align-items: top;
	min-height: 100vh;
	margin: 0;
	padding: 0;
    top: -50px;
    margin-top: 60px;
    
}

.slider {
	position: relative;

	border-radius: 8px;
	width: 200px;
	height: 18px;
    left: 0;
}

output {
	position: absolute;
	left: -3.3px;
	top: 35px;
	padding: 7px 10px;
	background: 	#eef5f3;
	color: #35b18c;
	border-radius: 15px;
	font-weight: bold;
    
}

#fader {
	left: 320px;
	width: 214.9px;
	height: 10px;
	background: #eef5f3;
	-webkit-appearance: none;
	outline: none;
	border-radius: 4px;
    
}


#fader::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 17px;
	height: 38px;
	border-radius: 20px;
	background: #35b18c;
	
}

.c{
	display: flex;
}





  .checkbox-wrapper-46 input[type="checkbox"] {
    position: relative;
    display: none;
    visibility: hidden;
    margin-top: 0px;
    top: 100px;
  }

  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 5.5px;
    transform: scale(1);
    vertical-align: middle;
    border: 2.5px solid 	#6cc6ab;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #45d1b3;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #45d1b3;
  }

  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #45d1b3;
    border-color: #45d1b3;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }

  .cb_text {
    background-color: #eef5f3;
    border: none; 
    border-radius: 15px;
    margin-left: 10px;
    padding: 3px;
    padding-right: 10px;
  }
  

  .checkbox-wrapper-45 input[type="checkbox"] {
    position: relative;
    display: none;
    visibility: hidden;
    margin-top: 0px;
    top: 100px;
  }

  .checkbox-wrapper-45 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-45 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-45 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 5.5px;
    transform: scale(1);
    vertical-align: middle;
    border: 2.5px solid 	#6cc6ab;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-45 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-45 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #45d1b3;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-45 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-45 .cbx:hover span:first-child {
    border-color: #45d1b3;
  }

  .checkbox-wrapper-45 .inp-cbx:checked + .cbx span:first-child {
    background: #45d1b3;
    border-color: #45d1b3;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-45 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-45 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @keyframes wave-45 {
    50% {
      transform: scale(0.9);
    }
  }