@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    background-color: #c8ece1;
    font-family: 'Roboto', sans-serif;
    color: #35b18c;
    display: grid;
    grid-template-areas: 
                        "top"
                        "bot"
    ;
    margin: 20px;
}
button {
       background-color: #eef5f3;
       border: none; 
       border-radius: 15px;
}
.top {
    grid-area: top;
    display: grid;
    grid-template-columns: 80% 20%;
    height: 40px;
    
}

.top button span {
    position: relative;
    bottom: 7.5px;
}

.pass svg {
    position: relative;
    left: 45px;
}

.bot { 
    grid-area: bot;
}

.pass {
    flex-shrink: 4;
    height: 40px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #35b18c;
    padding: 5px;
}

.shuffle {
    flex-shrink: 1;
    margin-top: 0px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    justify-items: center;
    align-items: center;
    padding: 8px;
}




.svg_copy {
    justify-self: end;
    position: relative;
    width: 32px;
    height: 32px;
}


.bot {
    display: grid;
    grid-template-areas: 
                        "chek_box len_dlina"
                       
    ;
}

.top_cb {

}

.chek_box {
    grid-area: chek_box;
}
.len_dlina {
    grid-area: len_dlina;
}

.chek_box {
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    position: relative;
    top: 20px;
}

.cb {
    display: inline;
    
    

}

.cb p {
    width: 115px;
    margin: 0px;
    position: relative;
    bottom: 25px;
    left: 30px;
    padding: 5px;
    border: #eef5f3 solid 1px;
    background-color: #eef5f3;
    border-radius: 10px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.slider {
	position: relative;

	border-radius: 8px;
	width: 310px;
	height: 18px;
    left: 0;
}

output {
	position: absolute;
	
	top: -50px;
	padding: 7px 10px;
	background: 	#eef5f3;
	color: #35b18c;
	border-radius: 15px;
	font-weight: bold;
    
}

#fader {
	left: 320px;
	width: 300px;
	height: 10px;
	background: #eef5f3;
	-webkit-appearance: none;
	outline: none;
	border-radius: 4px;
    
}

#fader::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 17px;
	height: 38px;
	border-radius: 20px;
	background: #35b18c;
	box-shadow: 0 0 2px #222;
}

.c{
	display: flex;
}


